In [ ]:
x = 1

In [ ]:
x

In [ ]:
x; x = 2; x

In [ ]:
x