In [ ]:
x = 1
print(x) # print

In [ ]:
x = 2
print(x) # print